<h1>Veículos</h1>

<p>Veículos (<%= veiculos.length %> veículos no total)</p>

<div class="container-fluid">
	<div class="row">

<% for (let contador = 0; contador < veiculos.length; contador++) { %>
	<div class="col-sm-6 col-md-4 col-lg-3">
		<div class="card shadow my-4">
			<div class="card-body">
				<h2>
					<%= veiculos[contador].nome %>
				</h2>
			
				<p>
					Id: <%= veiculos[contador].idveiculo %>
				</p>
			
				<p>
					Marca: <%= veiculos[contador].marca %>
				</p>
			
				<p>
					<img src="/public/img/veiculos/<%= veiculos[contador].idveiculo %>.jpg">
				</p>
			</div>
		</div>
	</div>

<% } %>

	</div>
</div>
